<div class="flex items-center mb-6 md:mb-0">
    <div class="flex-none">
        <button hx-get="/getOrgBooks" hx-trigger="click" hx-target="#content-div" hx-swap="innerHTML"
            type="submit" class="bg-gray-500 hover:bg-gray-400 py-2 px-4 mx-2 border-b-4 border-gray-700 hover:border-gray-500 rounded text-sm text-white font-bold ">
            Volver </button>
    </div>
    <div class="flex-auto">
        {{$yearInitial := .Book.DateInitial | parseYear}}
        {{$yearFinal := .Book.DateFinal | parseYear}}
        <h1 class="text-2xl font-bold text-gray-700 text-center">Libro N° {{.Book.BookNr}} <span class="text-base text-gray-500 text-center">({{$yearInitial}}{{if ne $yearInitial $yearFinal}} - {{$yearFinal}}{{end}})</span></h3>
    </div>
    <div class="flex-none">
        <form hx-post="/createRegisterBaptism" hx-trigger="click" hx-target="#content-div" hx-swap="innerHTML">
            <input type="hidden" id="org_id" name="org_id" value='{{.OrgID}}' readonly="readonly">
            <input type="hidden" id="book_id" name="book_id" value='{{.Book.ID}}' readonly="readonly">
            <button type="submit"
                    class="bg-green-500 hover:bg-green-400 py-2 px-4 mx-2 border-b-4 border-green-600 hover:border-green-400 rounded text-sm text-white font-bold">
                    Nuevo Registro </button>
        </form>
    </div>
</div>
<div id="table-content" class="relative flex flex-col w-full h-full text-gray-700 bg-white shadow-md rounded-lg bg-clip-border my-6">
    {{$bookID := .Book.ID}}
    <table class="w-full text-left table-auto min-w-max">
        <thead>
        <tr>
            <th class="p-4 border-b border-slate-300 bg-slate-50">
                <p class="block text-sm font-bold leading-none text-slate-500">
                    N°
                </p>
            </th>
            {{if not $bookID}}
            <th class="p-4 border-b border-slate-300 bg-slate-50">
                <p class="block text-sm font-bold leading-none text-slate-500">
                     Libro N°
                </p>
            </th>
            {{end}}
            <th class="p-4 border-b border-slate-300 bg-slate-50">
                <p class="block text-sm font-bold leading-none text-slate-500">
                    Pág.
                </p>
            </th>
            <th class="p-4 border-b border-slate-300 bg-slate-50">
                <p class="block text-sm font-bold leading-none text-slate-500">
                    Persona Bautizada
                </p>
            </th>
            <th class="p-4 border-b border-slate-300 bg-slate-50">
                <p class="block text-sm font-bold leading-none text-slate-500">
                    RUT
                </p>
            </th>
            <th class="p-4 border-b border-slate-300 bg-slate-50">
                <p class="block text-sm font-bold leading-none text-slate-500">
                    Registro
                </p>
            </th>
            <!--<th class="p-4 border-b border-slate-300 bg-slate-50">
                <p class="block text-sm font-bold leading-none text-slate-500">
                    Índice
                </p>
            </th>-->
        </tr>
        </thead>
        <tbody>
        {{range .regs_bap}}
            <tr class="hover:bg-slate-50">
                <td class="p-4 border-b border-slate-200 py-5">
                    <p class="font-bold text-sm text-slate-500 text-center">{{.RegNumber}}</p>
                </td>
                {{if not $bookID}} 
                <td class="p-4 border-b border-slate-200 py-5">
                    <p class="text-sm text-slate-500"> {{.BookID}} </p>
                </td>
                {{end}}
                <td class="p-4 border-b border-slate-200 py-5">
                    <p class="text-sm text-slate-500 text-center">{{.PageNumber}}</p>
                </td>
                <td class="p-4 border-b border-slate-200 py-5">
                    <p class="text-sm text-slate-500">{{.BaptizedNameF}} {{.BaptizedNameS}} {{.FatherSurname}} {{.MotherSurname}} <!--nacido/a el {{.DateBirth | parseDate}} en {{.PlaceBirth}} --> </p>
                </td>
                <td class="p-4 border-b border-slate-200 py-5">
                    <p class="text-sm text-slate-500">{{.RUT}}</p>
                </td>
                <td class="p-4 border-b border-slate-200 py-5">
                    <form hx-post="/getRegisterBaptism" hx-target="#content-div" hx-trigger="submit" hx-swap="innerHTML">
                        <input type="hidden" id="reg_id" name="reg_id" value='{{.ID}}' readonly="readonly">
                        <button type="submit"
                            class="bg-blue-400 hover:bg-blue-300 py-2 px-4 mx-2 border-b-4 border-blue-600 hover:border-blue-400 rounded text-sm text-white font-bold">
                            Ver </button>
                    </form>
                </td>
                <!--<td class="p-4 border-b border-slate-200 py-5">
                    <button type="submit" disabled
                        class="bg-gray-200 hover:bg-gray-100 py-2 px-4 mx-2 border-b-4 border-gray-300 hover:border-gray-200 rounded text-sm text-white font-bold disabled:pointer-events-none cursor-not-allowed">
                        Ver </button>
                </td>-->
            </tr>
        {{end}}
        </tbody>
    </table>
</div>