<div class="flex items-center mb-6">
    <div class="flex-1">
        <button hx-get="/index" hx-trigger="click" hx-target="#content-div" hx-swap="innerHTML"
            type="submit" class="bg-gray-500 hover:bg-gray-400 py-2 px-4 mx-2 border-b-4 border-gray-700 hover:border-gray-500 rounded text-sm text-white font-bold ">
            Inicio </button>
    </div>
    <div class="flex-none">
        <h1 class="text-2xl font-bold text-gray-700 text-center">Miembros</h1>
    </div>
    <div class="flex-1">
        <button hx-get="{{.createPath}}" hx-trigger="click" hx-target="#content-div" hx-swap="innerHTML"
                class="float-right bg-green-500 hover:bg-green-400 py-2 px-4 mx-2 border-b-4 border-green-600 hover:border-green-400 rounded text-sm text-white font-bold">
            Nuevo Miembro </button>
    </div>
</div>
{{template "memberTable" .}}