{{define "userTable"}}
<div class="relative flex flex-col w-full h-full overflow-scroll text-gray-700 bg-white shadow-md rounded-lg bg-clip-border mb-3">
    <table class="w-full text-left table-auto min-w-max">
        <thead>
        <tr>
            <th class="p-4 border-b border-slate-300 bg-slate-50">
                <p class="block text-sm font-bold leading-none text-slate-500">
                    ID
                </p>
            </th>
            <th class="p-4 border-b border-slate-300 bg-slate-50">
                <p class="block text-sm font-bold leading-none text-slate-500">
                    Nombre(s)
                </p>
            </th>
            <th class="p-4 border-b border-slate-300 bg-slate-50">
                <p class="block text-sm font-bold leading-none text-slate-500">
                    Apellido(s)
                </p>
            </th>
            <th class="p-4 border-b border-slate-300 bg-slate-50">
                <p class="block text-sm font-bold leading-none text-slate-500">
                    Fecha de Nacimiento
                </p>
            </th>
            <th class="p-4 border-b border-slate-300 bg-slate-50">
                <p class="block text-sm font-bold leading-none text-slate-500">
                    Documentos
                </p>
            </th>
            <th class="p-4 border-b border-slate-300 bg-slate-50">
                <p class="block text-sm font-bold leading-none text-slate-500">
                    Certificados
                </p>
            </th>
        </tr>
        </thead>
        <tbody>
        {{range .users}}
            <tr class="hover:bg-slate-50">
                <td class="p-4 border-b border-slate-200 py-5">
                    <p class="font-bold text-xs text-slate-500">{{.ID}}</p>
                </td>
                <td class="p-4 border-b border-slate-200 py-5">
                    <p class="text-sm text-slate-500">{{.Names}}</p>
                </td>
                <td class="p-4 border-b border-slate-200 py-5">
                    <p class="text-sm text-slate-500">{{.Surnames}}</p>
                </td>
                <td class="p-4 border-b border-slate-200 py-5">
                    <p class="text-sm text-slate-500">{{.DateBirth | parseDate}}</p>
                </td>
                <td class="p-4 border-b border-slate-200 py-5">
                    <form hx-post="/getUserDocs" hx-target="#content-div" hx-swap="innerHTML">
                        <input type="hidden" id="user_id" name="user_id" value="{{.ID}}">
                        <input type="hidden" id="names" name="names" value="{{.Names}}">
                        <input type="hidden" id="surnames" name="surnames" value="{{.Surnames}}">
                        <button type="submit"
                                class="text-white font-bold bg-teal-500 hover:bg-teal-400 py-2 px-4 mx-2 border-b-4 border-teal-700 hover:border-teal-500 rounded">
                            Ver </button>
                    </form>
                </td>
                <td class="p-4 border-b border-slate-200 py-5">
                    <form hx-post="/getUserCertificates" hx-target="#content-div" hx-swap="innerHTML">
                        <input type="hidden" id="user_id" name="user_id" value="{{.ID}}">
                        <input type="hidden" id="names" name="names" value="{{.Names}}">
                        <input type="hidden" id="surnames" name="surnames" value="{{.Surnames}}">
                        <button type="submit"
                                class="text-white font-bold bg-emerald-500 hover:bg-emerald-400 py-2 px-4 mx-2 border-b-4 border-emerald-700 hover:border-emerald-500 rounded">
                            Ver </button>
                    </form>
                </td>
            </tr>
        {{end}}
        </tbody>
    </table>
</div>
{{end}}
{{template "userTable" .}}