{{define "help"}}
<div class="relative pt-32">
    <div class="mx-auto max-w-5xl text-center">
        <p class="mt-6 text-lg leading-8 text-gray-600 "><b>"BÚSQUEDA"</b>: Encontrar una persona en el <i>índice</i> y digitalizar su <i>registro</i> de bautismo</p> 
        <p class="mt-6 text-lg leading-8 text-gray-600 "><b>"REGISTRO"</b>: Crear nuevos <i>registros</i> de bautismo, <i>certificados</i>, o <i>libros</i> de la organización</p>
        <p class="mt-6 text-lg leading-8 text-gray-600 "><b>"VERIFICACIÓN"</b>: Validar contenido de <i>certificados</i> y descargar documento PDF para imprimir</p>
        <h1 class="mt-72 font-bold uppercase text-stone-500 text-m ">Notariat</h1>
      </div>
  </div>
</div>
{{end}}
{{template "help" . }}