<select id="owner_uuid" name="owner_uuid"
    hx-get="/admin/getOwners" hx-trigger="change from:#module,change from:#acc_role" hx-include="#module,#acc_role" hx-target="#owner_uuid" hx-swap="outerHTML"
    class="w-full p-3 bg-white rounded focus:outline-none border border-gray-200 focus:border-gray-400 text-gray-700 text-lg transition ease-in-out duration-200">
    <option disabled selected value> -- Buscar... -- </option>
    {{range .owners}}
    <option value="{{.UUID}}"
        class="appearance-none block w-full bg-gray-200 text-gray-700 text-lg border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
        {{.DisplayName}}
        </option>
    {{end}}
</select>
