<div class="flex items-center mb-6">
    <div class="flex-none">
        <button hx-get="/home" hx-trigger="click" hx-target="#content-div" hx-swap="innerHTML"
            type="submit" class="bg-gray-500 hover:bg-gray-400 py-2 px-4 mx-2 border-b-4 border-gray-700 hover:border-gray-500 rounded text-sm text-white font-bold ">
            Inicio </button>
    </div>
    <div class="flex-auto pb-2">
        <h1 class="text-2xl font-bold text-gray-700 text-center"> Cuentas </h1>
        <p class="text-m text-slate-700 text-center"> Usuarios registrados en el sistema </p>
    </div>
    <div class="flex-none">
        <button hx-get="/admin/createAccount" hx-trigger="click" hx-target="#content-div" hx-swap="innerHTML"
                class="bg-green-500 hover:bg-green-400 py-2 px-4 mx-2 border-b-4 border-green-600 hover:border-green-400 rounded text-sm text-white font-bold">
            Nueva Cuenta </button>
    </div>
    <!--<div class="mx-3">
        <div class="w-full min-w-m relative">
            <div class="relative">
                <input placeholder="Búsqueda de usuarios"
                       class="bg-white w-full pr-11 h-10 pl-3 py-2 placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-400 shadow-sm focus:shadow-md"/>
                <button type="button" class="absolute h-8 w-8 right-1 top-1 my-auto px-2 flex items-center bg-white rounded">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" class="w-8 h-8 text-slate-600">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                    </svg>
                </button>
            </div>
        </div>
    </div>-->
</div>
{{template "accountsTable" .}}