<h1 class="text-2xl text-gray-700 font-bold text-center">Crear nueva organización</h1>
<p class="font-normal text-m text-gray-400 md:px-2 py-2 text-center">Ingrese la información requerida</p>
<form hx-post="/createOrg" hx-target="#content-div" hx-swap="innerHTML" class="mt-8 space-y-4">
    <!-- Type and Name -->
    <div class="flex flex-wrap -mx-3 mb-3">
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <label for="type"
                   class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"> Tipo de Organización</label>
            <div class="flex">
                <div x-data="typeInput" @click.outside="open=false" @click="toggle">
                    <input type="hidden" id="type_id" name="type_id" x-model="type_id">
                    <input type="text" x-model="type_display" readonly
                           class="appearance-none inline w-full bg-gray-200 text-gray-700 text-lg border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                    <ul x-show="open" class="z-10 absolute mt-1 rounded bg-gray-50 ring-1 ring-gray-300">
                        {{range $key, $value := .orgTypes}}
                            <li @click="setTypeID('{{$key}}', '{{$value}}')" @click="toggle" class="cursor-pointer select-none p-2 hover:bg-gray-200">{{$value}}</li>
                        {{end}}
                    </ul>
                </div>
            </div>
        </div>
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <label for="name"
                   class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"> Nombre </label>
            <input id="name" name="name" type="text" placeholder="Ej: Santo Espíritu Sagrado"
                   class="appearance-none block w-full bg-gray-200 text-gray-700 text-lg border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
        </div>
    </div>
    <!-- Diocese and Commune -->
    <div class="flex flex-wrap -mx-3 mb-3">
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <label for="diocese"
                   class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"> Diócesis </label>
            <input id="diocese" name="diocese" type="text" placeholder="Ej: Santiago"
                   class="appearance-none block w-full bg-gray-200 text-gray-700 text-lg border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
        </div>
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <label for="commune"
                   class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"> Comuna </label>
            <input id="commune" name="commune" type="text" placeholder="Ej: Puente Alto"
                   class="appearance-none block w-full bg-gray-200 text-gray-700 text-lg border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
        </div>
    </div>
    <!-- Address -->
    <div class="flex flex-wrap -mx-3 mb-3">
        <div class="w-full px-3 mb-6 md:mb-0">
            <label for="address"
                   class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"> Dirección </label>
            <input id="address" name="address" type="text" placeholder="Ej: Calle Larga 123"
                   class="appearance-none block w-full bg-gray-200 text-gray-700 text-lg border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
        </div>
    </div>
    <!-- User -->
  <div class="flex flex-wrap -mx-3 mb-3">
    <label for="user_id"
           class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"> Párroco </label>
    <select id="user_id" name="user_id"
            class="appearance-none block w-full bg-gray-200 text-gray-700 text-lg border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
            <option disabled selected value> -- Seleccione un usuario como párroco -- </option>
            {{range .users}}
            <option value='{{.ID}}'
                  class="appearance-none block w-full bg-gray-200 text-gray-700 text-lg border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">{{.Names}} {{.Surnames}}</option>
            {{end}}
    </select>
  </div>
    <!-- Buttons -->
    <div class="container flex justify-center mx-auto">
        <div class="flex flex-row mx-auto">
            <button type="submit"
                    class="text-white font-bold bg-blue-500 hover:bg-blue-400 py-2 px-4 mx-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
                Enviar </button>
        </div>
    </div>
</form>
<script>
    function typeInput() {
        return {
            open: false,
            type_id: 1,
            type_display: 'Parroquia',
            toggle() { this.open = !this.open; },
            setTypeID(key, value) {
                this.type_id = key;
                this.type_display = value;
            }
        }
    }
</script>

