{{define "requestTable"}}
<div id="table-content" class="relative flex flex-col w-full h-full overflow-scroll text-gray-700 bg-white shadow-md rounded-lg bg-clip-border mb-6">
    <table class="w-full text-left table-auto min-w-max">
        <thead>
        <tr>
            <th class="p-4 border-b border-slate-300 bg-slate-50">
                <p class="block text-sm font-bold leading-none text-slate-500">
                    Sacramento
                </p>
            </th>
            <th class="p-4 border-b border-slate-300 bg-slate-50">
                <p class="block text-sm font-bold leading-none text-slate-500">
                    Motivo
                </p>
            </th>
            <th class="p-4 border-b border-slate-300 bg-slate-50">
                <p class="block text-sm font-bold leading-none text-slate-500">
                    Nombres
                </p>
            </th>
            <th class="p-4 border-b border-slate-300 bg-slate-50">
                <p class="block text-sm font-bold leading-none text-slate-500">
                    Apellidos
                </p>
            </th>
            <th class="p-4 border-b border-slate-300 bg-slate-50">
                <p class="block text-sm font-bold leading-none text-slate-500">
                    RUT
                </p>
            </th>
            <th class="p-4 border-b border-slate-300 bg-slate-50">
                <p class="block text-sm font-bold leading-none text-slate-500">
                    Fecha de Nac.
                </p>
            </th>
            <th class="p-4 border-b border-slate-300 bg-slate-50">
                <p class="block text-sm font-bold leading-none text-slate-500">
                    Mail
                </p>
            </th>
            <th class="p-4 border-b border-slate-300 bg-slate-50">
                <p class="block text-sm font-bold leading-none text-slate-500">
                    Teléfono
                </p>
            </th>
            <th class="p-4 border-b border-slate-300 bg-slate-50">
                <p class="block text-sm font-bold leading-none text-slate-500">
                    Organización
                </p>
            </th>
            <th class="p-4 border-b border-slate-300 bg-slate-50">
                <p class="block text-sm font-bold leading-none text-slate-500">
                    Detalles
                </p>
            </th>
            <th class="p-4 border-b border-slate-300 bg-slate-50">
                <p class="block text-sm font-bold leading-none text-slate-500">
                    Fecha de Evento
                </p>
            </th>
        </tr>
        </thead>
        <tbody>
        {{range .reqs}}
            <tr class="hover:bg-slate-50">
                <td class="p-4 border-b border-slate-200 py-5">
                    <p class="text-sm text-slate-500 font-bold">{{.SacrType | parseSacrType}}</p>
                </td>
                <td class="p-4 border-b border-slate-200 py-5">
                    <p class="text-sm text-slate-500 font-bold">{{.Purpose | parseCertPurpose}}</p>
                </td>
                <td class="p-4 border-b border-slate-200 py-5">
                    <p class="text-sm text-slate-500">{{.Names}}</p>
                </td>
                <td class="p-4 border-b border-slate-200 py-5">
                    <p class="text-sm text-slate-500">{{.Surnames}}</p>
                </td>
                <td class="p-4 border-b border-slate-200 py-5">
                    <p class="text-sm text-slate-500">{{.RUT}}</p>
                </td>
                <td class="p-4 border-b border-slate-200 py-5">
                    <p class="text-sm text-slate-500">{{.DateBirth | parseDate}}</p>
                </td>
                <td class="p-4 border-b border-slate-200 py-5">
                    <p class="text-sm text-slate-500">{{.Mail}}</p>
                </td>
                <td class="p-4 border-b border-slate-200 py-5">
                    <p class="text-sm text-slate-500">{{.Phone}}</p>
                </td>
                <td class="p-4 border-b border-slate-200 py-5">
                    {{if .OrgUnknown}}
                    <p class="text-sm text-slate-500 italic">Desconocida</p>
                    {{else}}
                    <p class="text-sm text-slate-500">{{.Organization.OrgType | parseOrgType}} - {{.Organization.Name}}</p>
                    {{end}}
                </td>
                <td class="p-4 border-b border-slate-200 py-5">
                    <p class="text-sm text-slate-500">{{.OrgDetails}}</p>
                </td>
                <td class="p-4 border-b border-slate-200 py-5">
                    <p class="text-sm text-slate-500">{{.DateEvent | parseDate}}</p>
                </td>
            </tr>
        {{end}}
        </tbody>
    </table>
</div>
{{end}}
